@media (max-width: 999px) {
  .navbar {
    .hamburger {
      display: block !important;
    }

    &.scrolled .nav-contain {
      height: calc(100vh - 95px);
      top: 95px;
    }

    .nav-contain {
      width: 100% !important;
      height: calc(100vh - 120px);
      position: absolute;
      top: 120px;
      right: -100%;
      z-index: 999;
      background-color: var(--secondary-color);
      flex-direction: column !important;
      justify-content: flex-start !important;
      padding: 20px 15px;
      transition: all .3s linear;

      &.active-nav {
        right: 0px !important;
      }

      .navbar-nav {
        flex-direction: column !important;
        width: 100% !important;
        
        li {
          margin: 0px 0px 20px 0px !important;
        }
      }

      .buttons-contain {
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  header {
    padding-top: 128px;

    .socail-media {
      display: none;
    }

    h1, h2 {
      font-size: 30px !important;
    }

    .content {
      padding-bottom: 194px !important;
    }
  }

  .about-us .content {
    padding: 20px 10px !important;

    &::after, &::before {
      width: 100%;
    }

    &::after {
      top: 0 !important;
      height: 40% !important;
    }

    &::before {
      bottom: 0px !important;
      top: unset !important;
      height: 57% !important;
    }

    .data p {
      width: 100% !important;
    }
  }

  .team .heading,
  .contact-us h1,
  .heading {
    margin-bottom: 40px !important;
  }

  .contact-us {
    h1 {
      width: 100% !important;
    }

    .content {
      padding: 20px 10px !important;

      .form-contain {
        padding: 20px 10px !important;
      }

      .contact-data {
        padding: 0px 10px !important;
      }

      &::after {
        display: none;
      }
    }
  }

  footer {
    &.footer {
      padding-top: 183px !important;
    }

    .content {
      padding-bottom: 40px !important;
    }
  }

  .about-us, .services, .team, .join, .partners, .contact-us {
    padding-top: 40px !important;
  }

  .services, .team, .join, .partners {
    padding-bottom: 30px !important;
  }

  .email .content {
    padding: 30px 10px;
  }

  .article-contain .article-head h1,
  .sub-header .content h1 {
    font-size: 20px !important;
  }

  .article-contain {
    margin-top: -140px;
    padding-bottom: 40px;

    .article-img {
      height: 300px;
    }

    .article-head, p {
      margin-bottom: 40px;
    }
  }

  .sub-header.large-header {
    padding-bottom: 170px !important;
  }

  .report-box {
    flex-direction: column;

    .image-content, .content {
      width: 100% !important;
    }

    .content {
      padding-top: 20px;
    }

    &::after {
      width: 100% !important;
      height: 20% !important;
    }

    &:hover {
      &::after {
        width: 100%;
        height: 100% !important;
      }
    }
  }

  .reports .general-heading, .articles .general-heading, .general-heading {
    margin-bottom: 40px !important;
  }

  .general-heading {
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    align-content: flex-start !important;

    .heading {
      margin-bottom: 20px !important;

      h1 {
        font-size: 25px !important;
      }
    }
  }

  .sub-header::after {
    background-position: right !important;
    background-size: cover !important;
  }

  .all-services .content .service-img {
    height: 300px;
  }
}